<div class="col-md-4 blog-main box text-center" id="post_<%= post.id %>">
    <div class="panel panel-info"><!-- Panel Info -->
        <div class="panel-heading">
            <h3 class="panel-title"><%= post.title %></h3>
            <p><%= post.content %></p>
        </div>
        
        <div class="panel-body"><!-- Panel Body -->
            <div style="color: #3BB2D6;"> <%= time_ago_in_words(post.created_at) %></div>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= post.id %>">
                    Edit
                </button>
                <%= link_to 'Destroy', post, method: :delete, class:"btn btn-danger", remote: true %>
            </div>
        </div><!-- Panel Body -->
    </div><!-- Panel Info -->
    
    <!-- Modal -->
    <%= form_for(post, :method => :put, remote: true) do |f| %>
        <div class="modal fade" id="myupdatepost_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Post</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="field">
                            <%= f.label :title %>
                            <%= f.text_area :title, class: "form-control" %>
                        </div>
                        
                        <div class="field">
                            <%= f.label :content %>
                            <%= f.text_area :content, class: "form-control" %>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>